html, body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%
}

* {
    font-family: "serif"
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 70%;
    background-color: rgb(229, 185, 83, 0.2);
}

#header button {
    font-size: 1.5em;
    width: 8em;
    background-color: white;
    border: 3px solid rgb(205, 143, 54);
    padding: 5px;
    color: rgb(128, 8, 10);
}

#header button:hover {
    transform: scale(1.1);
    transition: transform ease-out 0.1s;
}

#header button:active {
    background-color: rgba(233, 198, 44, 0.5);
}

#main, .home, .menu, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home, .menu, .contact {
    animation: fadeIn 2s;
}

.home img {
    width: 500px;
}

.home p {
    font-size: 1.5em;
}

.menu {
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%
}

.item .title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.item img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.item img:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.2s 
}

.item .description {
    font-size: 1em;
    text-align: center;
}

#footer {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 70%;
    background-color: rgb(229, 185, 83, 0.2);
}

#footer svg {
    height: 1.5em;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}